{% extends "layout.html" %}
{% block content %}

<ul class="nav nav-tabs">
  <li class="active"><a href="/">Controller</a></li>
  <li><a href="/network">Network</a></li>
</ul>
<div class="content">
  <form class="form-horizontal" id="exec-form">
    <div class="form-group">
      <label class="control-label col-sm-1" for="device">Device</label>
      <div class="col-sm-11">
        <select class="selectpicker" id="device">
          {% for device in devices %}
            <option value={{ device }}>{{ device.split('/')[2] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1" for="STA">STA</label>
      <div class="col-sm-11" id="STA">
        <select class="selectpicker">
          <option value="0">0</option>
          <option value="1">1</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1" for="DIR">DIR</label>
      <div class="col-sm-11" id="DIR">
        <select class="selectpicker">
          <option value="0">0</option>
          <option value="1">1</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1" for="MOD">MOD</label>
      <div class="col-sm-11" id="MOD">
        <select class="selectpicker">
          <option value="0">0</option>
          <option value="1">1</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1" for="NTF">NTF</label>
      <div class="col-sm-11" id="NTF">
        <select class="selectpicker">
          <option value="0">0</option>
          <option value="1">1</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-11">
        <button id="exec-button" class="btn btn-primary">EXEC</button>
      </div>
    </div>
  </form>
</div>
<script>
  $('#exec-button').on('click', (event) => {
    event.preventDefault();
    var $form = $(this);
    var $button = $form.find('button');

    $.ajax({
      url: $form.attr('/execute'),
      type: $form.attr('POST'),
      data: $form.serialize(),
      timeout: 10000,
      beforeSend: (xhr, settings) => {
        $button.attr('disabled', true);
      },
      complete: (xhr, textStatus) => {
        $button.attr('disabled', false);
      }
    });
  });
</script>
{% endblock %}
