{% extends "layout.html" %}
{% block content %}

<ul class="nav nav-tabs">
  <li class="active"><a href="/">Controller</a></li>
  <li><a href="/network">Network</a></li>
</ul>
<div class="content col-sm-6">
  <form class="form-horizontal" id="open-form" style="{% if is_connected %}display:none;{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-1" for="device">Dev</label>
      <div class="col-sm-11">
        <select class="selectpicker" id="device" name="device">
          {% for device in devices %}
            <option value={{ device }}>{{ device.split('/')[2] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-11">
        <button id="open-button" class="btn btn-primary">接続</button>
      </div>
    </div>
  </form>
  <form class="form-horizontal" id="close-form" style="{% if is_connected == False %}display:none;{% endif %}">
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-11">
        <button id="close-button" class="btn btn-danger">切断</button>
      </div>
    </div>
  </form>
  <form class="form-horizontal" id="exec-form" method="POST" action="/execute" style="{% if is_connected == False %}display:none;{% endif %}">
    <div class="form-group">
      <label class="control-label col-sm-1" for="STA">STA</label>
      <div class="col-sm-11">
        <select class="selectpicker" id="STA" name="STA">
          <option value="0">0</option>
          <option value="1">1</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1" for="DIR">DIR</label>
      <div class="col-sm-11">
        <select class="selectpicker" id="DIR" name="DIR">
          <option value="0">0</option>
          <option value="1">1</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1" for="MOD">MOD</label>
      <div class="col-sm-11">
        <select class="selectpicker" id="MOD" name="MOD">
          <option value="0">0</option>
          <option value="1">1</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1" for="NTF">NTF</label>
      <div class="col-sm-11">
        <select class="selectpicker" id="NTF" name="NTF">
          <option value="0">0</option>
          <option value="1">1</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-11">
        <button id="exec-button" class="btn btn-primary">EXEC</button>
      </div>
    </div>
  </form>
</div>
<div class="content col-sm-6">
  <div class="form-group">
    <div class="col-sm-12">
      <textarea id="log-area" rows="22" cols="90" readonly></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <button class="btn btn-secondary" id="clear-button">Clear</button>
    </div>
  </div>
</div>
<script src="/static/js/index.js"></script>
{% endblock %}
