<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>GVS controller</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
  </head>
  <body>
    <head>
      <nav class="navbar navbar-fixed-top navbar-toggleable-sm bg-primary mb-3">
        <a class="navbar-brand" href="/">GVS</a>
      </nav>
    </head>
    <div id="main" class="container-fluid">
      {% block content %}{% endblock %}
    </div>
    <script>
    </script>
  </body>
</html>

